body {
    min-height: 100vh;
    box-sizing: border-box;
}

nav {
    /* background-color: rgba(242, 247, 250, .5); */
    background-color: #14274E;

}

.masthead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 2);
}

/* h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
} */

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(220, 59%, 19%, 0.871);
    
}

/* @media(max-width: 768px) {
    .masthead {
        min-height: 65vh;
        background-position: center;
    }

    h1 {
        font-size: calc(0.525rem + 3.3vw);
        text-align: center;
        font-size: 2rem;
        position: absolute;
    } */

    /* .animate__fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }

    .animate__animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--animate-duration);
        animation-duration: var(--animate-duration);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    } */



    #animateMe{
        color: #fff;
        font-weight: 800;
        letter-spacing: 3px;
        text-align: center;
        font-family: "Khula", sans-serif;
        margin: 0;
        padding: 0;
    }

    span {
        display: inline-block;
    }